$laranja: #f47920;
$white:#ffffff;
$cinzatexto: #58595b;

$goldenpers: #a37c29;
$bluepers: #0e3c70;
$lightpers: #efe9e5;
$sandpers: #d3cab7;
$chocolatepers: #876532;
$brownpers: #744200;
$petropers: #013f5e;

