strong{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
}

h1, h2, h3 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
}

p, ul{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
}

h2{
    color: #876630;
    font-size: 25px;
    padding-left: 5px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.pad-center{
    margin:0 58px!important;
}
.main-wrapper{
    width:980px;
}

.content-home h2{
  font-size:20px;
}

.btn-group-home a{
  font-size: 28px;
  color: #a37c29;
}

.tit-popup{
  font-weight:100;
  font-size: 25px;
  color: #a37c29;
  width:200px;
  margin:0 auto;
  margin-top:10px
}

.popup p{
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 14px;
}