.nav-tabs {
  border-bottom: none;
  width: 730px;
  margin: 0 auto;
}
.nav-tabs > li {
  float: left;
  border-right: 1px solid #f05b22;
  padding: 0 21px;
  font-weight: 200;
}

.nav-tabs > li:last-child {
    border: none;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 0.828571;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  font-size: 35px;
  color: #8f5e00;
}
.nav-tabs > li > a:hover {
  border-color: #fff;
  background-color: white;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #b3b3b3;
  cursor: default;
  background-color: #fff;
  border: none;
  /* border-left: 1px solid #ddd; */
  /* border-bottom: 1px solid #f05b22; */
  padding: 0;
  /* padding-bottom: 8px; */
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #fff;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;

}

.tab-content > .tab-pane {
  display: none;
  padding-top:65px;
  height: 500px;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}