    <div class="main">
        <!-- tela 1 -->
        <header>
            <div class="logo">
                <div class="logo-comp">
                    <img src="images/setas.png" alt="icone" />
                    <h1>Comparador de investimentos</h1>
                </div>
                <img src="images/logo.png" alt="logo" />
            </div>
        </header>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="#main-home"><img src="images/home.png" alt="Home"></a>
                </li>
                <li>
                    <a href="#main-invest"><img src="images/icon-investimento.png" alt="icon">
                        <span class="label-nav-top">Fundos de Investimento</span></a>
                </li>
                <li>
                    <a href="#main-previdencia"><img src="images/icon-previdencia.png" alt="icon"><span class="label-nav-top">Fundos de Previdência</span></a>
                </li>
            </ul>
        </nav>
        <section class="content-home">
            <p>A tradução da essência Personnalité – <b>sentir, servir, surpreender</b> – é fazer a diferença na vida do cliente, participando do seu crescimento. Para isso, precisamos cuidar também de seus investimentos.</p>
            <p>Sem abrir mão de um atendimento próximo, que supere as expectativas, você pode utilizar esta ferramenta, que <b>compara até quatro tipos de fundo ao mesmo tempo,</b> como apoio </p>
            <h2>Escolha o <b>tipo de simulação</b> clicando abaixo:</h2>
            <div class="modal-home">
                <div class="modal modal-fundos-investimentos" id="investimento"">
                    <div class="popup">
                        <div class="dir">
                            <img src="images/bigIcon-investimento.png" alt="icon">
                            <h4 class="tit-popup">Fundos de Investimento</h4>
                        </div>
                        <div class="esq">
                            <p>Esta ferramenta permite oferecer opções de fundos de investimento que melhor atendam o seu cliente.
                                <br/> O comparador fornece informações para que você o auxilie na escolha do fundo de investimento Itaú Personnalité mais adequado ao seu perfil e objetivos.</p>
                            <img src="images/exclamacao.png">
                            <p><b>Importante: </b> Não se esqueça de informar o seu cliente de que, na transferência de fundos de investimento de um banco para outro, é preciso solicitar o resgate, havendo incidência de Imposto de Renda. E, ao aplicar novamente os recursos, a contagem do Imposto de Renda começará do zero. Por isso, é necessário analisar o rendimento líquido.</p>
                        </div>
                        <div class="close">X</div>
                    </div>
                </div>
                <div class="modal modal-previdencia" id="previdencia"">
                	<div class="popup">
                	    <div class="dir">
                	        <img src="images/bigIcon-previdencia.png" alt="icon">
                	        <h4 class="tit-popup"> Fundos de Previdência</h4>
                	    </div>
                	    <div class="esq">
                	        <p>Esta ferramenta visa facilitar o seu trabalho, possibilitando que você ofereça as opções de fundos de previdência mais adequadas ao perfil e objetivos de seu cliente.
                	            <br/> Com essa funcionalidade, você pode mostrar ao cliente os produtos existentes no mercado comparados aos do Itaú Personnalité, utilizando-se de índices financeiros atualizados. Assim, a escolha do investimento será mais transparente. </p>
                	        <img src="images/exclamacao.png">
                	        <p> <b>Importante: </b> Lembre o seu cliente de que é possível solicitar a portabilidade de seus fundos de previdência de um banco para outro sem pagar Imposto de Renda.
                	        </p>
                	    </div>
                	    <div class="close">X</div>
                	</div>
                </div>
            </div>
            <div class="btn-group-home">
                <a href="#investimento" class="thumb">
                    <div>
                        <img src="images/bigIcon-investimento.png" alt="icon">
                        <h3>Fundos de Investimento</h3>
                    </div>
                    <p>+detalhes</p>
                </a>
                <a href="#previdencia" class="thumb">
                    <div>
                        <img src="images/bigIcon-previdencia.png" alt="icon">
                        <h3>Fundos de Previdência</h3>
                    </div>
                    <p>+detalhes</p>
                </a>
            </div>
        </section>
        <img class="selo-uso" src="images/selo_uso-interno.png" alt="Informação de Uso Interno - Política de Segurança da Informação" />
        <footer>&nbsp;</footer>
    </div>