    <div class="main">
        <header>
            <img src="images/setas.png" alt="icone" />
            <h1>Comparador de investimentos</h1>
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href=""><img src="images/home.png" alt="Home"></a>
                </li>
                <li>
                    <a href=""><img src="images/icon-investimento.png" alt="icon">Fundos de Investimento</a>
                </li>
                <li>
                    <a href=""><img src="images/icon-previdencia.png" alt="icon">Fundos de Previdência</a>
                </li>
            </ul>
        </nav>
        <section>
            <h2> Digite o <b>CNPJ</b> ou <b>nome do fundo</b> concorrente para fazer a sua busca.</h2>
            <div class="border">
                <div class="search">
                    <input type="text" name="" value="06.022.02" />
                    <button><img src="images/lupa.png" alt="Lupa" /></button>
                </div>
                <h3>Este CNPJ possui 22 processos SUSEP atrelados.</h3>
                <p>Caso deseje saber a Política de Carregamento, selecione o SUSEP desejado no campo abaixo:</p>
                <select class="result">
                    <option>15.414.001318/2012-65</option>
                </select>
            </div>
        </section>
        <footer>&nbsp;</footer>
    </div>