    <a name="previdencia">&nbsp;</a>
    <div class="main">
        <header>
            <div class="logo-comp">
                <img src="images/setas.png" alt="icone" />
                <h1>Comparador de investimentos</h1>
            </div>
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href=""><img src="images/home.png" alt="Home"></a>
                </li>
                <li>
                    <a href=""><img src="images/icon-investimento.png" alt="icon">Fundos de Investimento</a>
                </li>
                <li>
                    <a href=""><img src="images/icon-previdencia.png" alt="icon">Fundos de Previdência</a>
                </li>
            </ul>
        </nav>
        <section>
            <p>A tradução da essência Personnalité – <b>sentir, servir, surpreender</b> – é fazer a diferença na vida do cliente, participando do seu crescimento. Para isso, precisamos cuidar também de seus investimentos.</p>
            <p>Sem abrir mão de um atendimento próximo, que supere as expectativas, você pode utilizar esta ferramenta, que <b>compara até quatro tipos de fundo ao mesmo tempo,</b> como apoio </p>
            <h2>Escolha o <b>tipo de simulação</b> clicando abaixo:</h2>
            <div class="popup">
                <div class="dir">
                    <img src="images/bigIcon-previdencia.png" alt="icon">
                    <br/> Fundos de
                    <br/>Previdência
                </div>
                <div class="esq">
                    <p>Esta ferramenta visa facilitar o seu trabalho, possibilitando que você ofereça as opções de fundos de previdência mais adequadas ao perfil e objetivos de seu cliente.
                        <br/> Com essa funcionalidade, você pode mostrar ao cliente os produtos existentes no mercado comparados aos do Itaú Personnalité, utilizando-se de índices financeiros atualizados. Assim, a escolha do investimento será mais transparente. </p>
                    <img src="images/exclamacao.png">
                    <p> <b>Importante: </b> Lembre o seu cliente de que é possível solicitar a portabilidade de seus fundos de previdência de um banco para outro sem pagar Imposto de Renda.
                    </p>
                </div>
                <div class="close">X</div>
            </div>
        </section>
        <footer>&nbsp;</footer>
    </div>