@font-face {
  font-family: 'myriad-pro';
  src: url('MyriadPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MyriadPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('MyriadPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MyriadPro-Regular.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

